#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
    color: #888;
    padding: 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.link {
  color: #888;
  padding-bottom: 2rem;
}